
.hex-offset {
    margin-left: 17% !important;
}
.row.templatemorow {
    width: 56%;
    margin: 0 auto;
}
.hex {
    width: 33.3%;
    float: left;
}
.hex-top11{
    top: -180px;
    left: 107px;
}
.hex-top22{
    top: -180px;
    left: 107px;
}
.row.templatemorow.row1 {
    margin-top: 195px;
}
.row.templatemorow.row2 {
    margin-top: -14px;
}

@media only screen and (min-device-width : 425px) and (max-width : 768px)   {

#newpost.templatemo_gallerytop {
    margin-top: 18%;
}
#homepage_gallery {
    margin-top: 0px !important;
}
.hex-top11 {
    top: -109px;
    left: 66px;
}

}

@media only screen and (min-device-width : 320px) and (max-width : 419px)	{
.hex-top11 {
    top: 0;
    left: 0;
}
.hex-top22 {
    top: 0;
    left: 0;
}
.row.templatemorow {
    width: 100% !important;
}
.hex {
    width: 44.3%;
}
.hex-offset {
    margin-left: -1% !important;
}
.hex.col-sm-6.hex-offset.templatemo-hex-top1.templatemo-hex-top2 {
    margin-top: 124px;
}
.hex.col-sm-6.templatemo-hex-top1.templatemo-hex-top3{
    margin-top: 124px;
}
.hex-offset {
    margin-left: 0% !important;
}
.templatemo_gallerytop {
    margin-top: 0%;
    left: -4% !important;
    position: relative;
}
}
@media (max-width: 559px) and (min-width: 420px){

.templatemo_gallerytop {
    margin-top: -13%;
}
.hex.col-sm-6.hex-offset.templatemo-hex-top1.templatemo-hex-top2 {
    margin-top: 178px;
}
.hex.col-sm-6.templatemo-hex-top1.templatemo-hex-top3{
    margin-top: 178px;
}
.hex-top11 {
    top: 0;
    left: 0;
    }
.hex-top22 {
    top: 0;
    left: 0;
	}
 .row.templatemorow {
    width: 85%;
    margin: 0 auto;
	}
.row.templatemorow.row1 {
    margin-top: 0;
}
.row.templatemorow.row2 {
    margin-top: 54px !important;
}
.hex-offset {
    margin-left: 0% !important;
}
  .hex {
    width: 50%;
    float: left;
}
}